body{
	margin:0;
	background-color:#66ccff;
}
img{
	position:absolute;
	width:50px;
	height:50px;
	float:left;
	margin:20px;
	z-index:1;
}
.content1{
	text-align:center;
    width: 1100px;
    height: 400px;
    background-image:url(pictures/);
    margin: 0 auto;
}
.head{
	position:relative;
	width:100%;
	height:100px;
	margin:0;
	padding:0;
	background-color:#666666;
	border-radius:2px;
}
.text-name{
	text-align:center;
	position:relative;
	margin:6px;
	font-size:20pt;
	background-color:#ffff00;
}
.header-text{
	position:absolute;
	width:94%;
	height:46px;
	margin-top:22px;
	margin-left:45px;
	background-color:#99ff33;
	border-radius:5px;
}
.mainlogo{
	position:relative;
	margin-left:100px;
	width:85%;
	max-width:960px;
	margin:auto;
	height:40px;
	margin-top:10px;
	background-color:#c0c0c0;
	box-shadow: 0 0 4px;
}
a{
	text-decoration:none;
}
  .mainlogo>a{
	
	color:red;
	max-width:960px;
	margin:auto;
	position:absolute;

	margin-left:50px;
	font-size:20px;
	padding:7px;
	border-right:1.5px solid white;
	border-left:1.5px solid white;
}
.mainlogo>.a-css{
	margin-left:425px;
	
}
.mainlogo>.a-main{
	margin-left:800px;
}
.main-info{
	width:100%;
}
th{
	border:0.5px solid black;
}
table{
	
	margin:auto;
	width:70%;
	height:50%;

	margin-top:20px;
}
td{
	border:0.5px solid black;
	padding:10px;
	padding-right:40px;
	padding-left:40px;
}
tr:nth-child(2n){
	background-color:white;
}
